## HW Set #1
Group Members' Names and Student IDs

1. Yashas Ganesh Prasad (44773950)

2. 

3.

4.

### Instructions

Show your codes clearly and run them to produce desired results. Add commnets where appropriate. If necessary or as asked, add markdown cell(s) to explain your codes or answer the questions. Specifically:

- Create or add new code cell(s) next to each question and provide your codes in that cell.
- Run your codes and display the answers.
- As necessary use print() command to display your results.
- You may create one or multiple code cells for each question.
- You may add explanation followed by # sign next to codes as nexessary.

### Part A: Basic Python (30 points)

**Question #1 (8 pts)**
- Create a list of numbers from 1 to 10.
- Print the list
- Print the first and last elements of the list
- Print the length of the list

**Question #2 (12 pts)**

Given the string: s = "Quantitative" 
- convert it to uppercase
- print the number of characters in s
- Append the string " Economics" to s and print the result
- Reverse the string s
- Print the first 5 characters of s
- Count how many times the letter "t" appears in s

In [84]:
s = "Quantitative"

In [85]:
#part 1
print(s.upper())

QUANTITATIVE

In [86]:
#part 2
print(len(s))

12

In [87]:
#part 3
snew = s + " Economics"
snew
#cannot use the append method, as original s is a string and not a list

'Quantitative Economics'

In [92]:
#part 4
print(s[::-1])
# if the basic slicing syntax[start : end : step], omitting the start and end, tells Python to start the slicing
# to start from the beginning and stop at the end, the negative 1 tells Python to move backwards/reverse

evitatitnauQ

In [70]:
#part 5
print(s[0:5])
# helps slice s from index 0 to index 4 (0,1,2,3,4), knowing that it will not bring out index 5

Quant

In [71]:
#part 6
print(s.count("t"))
#helps return the number of times "t" is in "quantitative"

3

***Question #3 (10 pts)***

- Create a dictionary named *person* with keys "name", "age", and "country".
- Print the value of country using its key.
- add a new key occupation with appropriate value.
- update the value of age by adding 2 to it. If the age is 18, make it 20.
- use f string to convert the dictionary you created into a sentence. Example: print(f"My name is {name} ... ")

### Part B: Control Flow (20 points)

***Question #4 (4 pts)***
- Choose any number and then use if and elif statements to check whether this number is positive, negative, or zero.

***Question #5 (6 pts)***

- Create a list of numbers from 1 to 15 (15 included)
- Given this list, use for loop to detect and print only *odd* numbers.

***Question #6 (4 pts)***
- Use a while loop to print numbers from 1 to 10.

***Question #7 (6 pts)***
- Modify the above while loop so that it prints only the even numbers from 1 to 15.

### Part C: Functions (20 points)

***Question #8 (6 pts)***
- Write a function square(x) that returns the square of x
- Test it for a single number
- Test it for a numpy array x, say x = np.array([1, 2, 3, 4])

In [72]:
#part 1
def sqr(x):
    Y = x ** 2
    return Y
# This code helps create a function that squares any number, or array.

In [76]:
def sqr(x):
    """
    the sqr function takes the square of any number, array
    
    (it will be in the form of x^2)
    """
    return Y
# This code is for documentation purposes, as we are making a new function, this will help other viewers of this code 
# to understand what this code means by using ?sqr

In [73]:
#part 2
sqr(4)
#helps ensure that the function created will correctly produce the square of any number

16

In [75]:
import numpy as np # as we need to create an array, need to import the numpy library to create the array
x = np.array([1,2,3,4])
sqr(x)
#helps show that the function created will correctly produce the square of each element in an array

array([ 1,  4,  9, 16])

***Question #9 (6 pts)***
- Write a function mean(numbers) that returns the average.
- Create an object--a list of numbers.
- Call the function using the object and print the result.

***Question #10 (8 pts)***

Write a function that classifies a number:

- "low" if x < 0.3, "high" otherwise
- create an object or instance, a single number
- call the function and print the result

### Part 3: Numpy (20 points)

***Question #11 (4 pts)***
- Create a NumPy array from 0 to 9 
- Print its shape.

***Question #12 (6 pts)***
- Generate an array of 10 random numbers between 0 and 1.
- Compute and Print its mean.

***Question #13 (6 pts)***
- Create a numpy array x
- Compute and print x*np.log(x)

In [80]:
#part 1
import numpy as np # as we are doing mathematical operations, and creating arrays, need to import the numpy library
np.random.seed(42) # helps ensure that the random numbers in the array stay fixed in subsequent lines of code
x = np.random.rand(10) # creates an array with 10 random numbers
x
#assuming that there was no requirement to create a specific array

array([0.37454012, 0.95071431, 0.73199394, 0.59865848, 0.15601864,
       0.15599452, 0.05808361, 0.86617615, 0.60111501, 0.70807258])

In [81]:
#part 2
print(x * np.log(x)) # two classes of the same shape multiplying each other.

[-0.3678195  -0.04805069 -0.2283697  -0.30715011 -0.28984828 -0.28982759
 -0.16529851 -0.12444092 -0.3059489  -0.2444328 ]

### Part D: Comprehension (10 points)

***Question #14 (4 pts)***
- Create a list containing the squares of only the even numbers of list = [1, 2, 3, 4, 5, 6, 7, 8].

***Question #15 (6 pts)***
- create a dictionary for the prices of banana, apple and organge (assign prices)
- create a new dictionary using comprehension with prices increased by 10%.