## HW Set #1
Group Members' Names and Student IDs

1.

2. 

3.

4.

### Instructions

Show your codes clearly and run them to produce desired results. Add commnets where appropriate. If necessary or as asked, add markdown cell(s) to explain your codes or answer the questions. Specifically:

- Create or add new code cell(s) next to each question and provide your codes in that cell.
- Run your codes and display the answers.
- As necessary use print() command to display your results.
- You may create one or multiple code cells for each question.
- You may add explanation followed by # sign next to codes as nexessary.

### Part A: Basic Python (30 points)

**Question #1 (8 pts)**
- Create a list of numbers from 1 to 10.
- Print the list
- Print the first and last elements of the list
- Print the length of the list

**Question #2 (12 pts)**

Given the string: s = "Quantitative" 
- convert it to uppercase
- print the number of characters in s
- Append the string " Economics" to s and print the result
- Reverse the string s
- Print the first 5 characters of s
- Count how many times the letter "t" appears in s

***Question #3 (10 pts)***

- Create a dictionary named *person* with keys "name", "age", and "country".
- Print the value of country using its key.
- add a new key occupation with appropriate value.
- update the value of age by adding 2 to it. If the age is 18, make it 20.
- use f string to convert the dictionary you created into a sentence. Example: print(f"My name is {name} ... ")

In [36]:
person = {"name": "Felix", "age": 21, "country": "Canada"}
print(person["country"])

Canada

In [38]:
person["Sex"] = "Male"
print(person)

{'name': 'Felix', 'age': 21, 'country': 'Canada', 'Sex': 'Male'}

In [40]:
person["age"] = person["age"]+2
print(person)

{'name': 'Felix', 'age': 23, 'country': 'Canada', 'Sex': 'Male'}

In [84]:
print(f"My name is {person['name']}, I am age {person['age']} as well as a {person['Sex']} and live in {person['country']}")

My name is Felix, I am age 23 as well as a Male and live in Canada

### Part B: Control Flow (20 points)

***Question #4 (4 pts)***
- Choose any number and then use if and elif statements to check whether this number is positive, negative, or zero.

In [1]:
# Check whether 35 is positive or negative, or zero.
x = 35
if x < 0 :
    print("the number ", x ,"is negative.")
elif x ==0 :
    print("the number:", x ,"is 0.")
else :
    print("the number:", x ,"is positive.")

the number: 35 is positive.

***Question #5 (6 pts)***

- Create a list of numbers from 1 to 15 (15 included)
- Given this list, use for loop to detect and print only *odd* numbers.

In [2]:
# create the list
range(1,16)
x = list(range(1,16))
print(x)
# to detect and print only odd numbers
for num in x :
    if num % 2!= 0 :
        print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
1
3
5
7
9
11
13
15

***Question #6 (4 pts)***
- Use a while loop to print numbers from 1 to 10.

In [81]:
total = 0

while total < 10: 
 
    total = total + 1
    print(total)

1
2
3
4
5
6
7
8
9
10

***Question #7 (6 pts)***
- Modify the above while loop so that it prints only the even numbers from 1 to 15.

### Part C: Functions (20 points)

***Question #8 (6 pts)***
- Write a function square(x) that returns the square of x
- Test it for a single number
- Test it for a numpy array x, say x = np.array([1, 2, 3, 4])

***Question #9 (6 pts)***
- Write a function mean(numbers) that returns the average.
- Create an object--a list of numbers.
- Call the function using the object and print the result.

In [130]:
def mean(numbers):
    """ 
    This sums the numbers in a list and then divides them 
    by the number of elements in the list aka taking the mean value.
    """
    answer= sum(numbers)/len(numbers)
    return answer
    
z= [1, 2, 9, 4]
print(f"Average of the list z above is {mean(z)}")

Average of the list z above is 4.0

***Question #10 (8 pts)***

Write a function that classifies a number:

- "low" if x < 0.3, "high" otherwise
- create an object or instance, a single number
- call the function and print the result

### Part 3: Numpy (20 points)

***Question #11 (4 pts)***
- Create a NumPy array from 0 to 9 
- Print its shape.

In [3]:
import numpy as np
# create the NumPy array
x = np.array([0,1,2,3,4,5,6,7,8,9])
print(x)
# print its shape
print(x.shape)

[0 1 2 3 4 5 6 7 8 9]
(10,)

***Question #12 (6 pts)***
- Generate an array of 10 random numbers between 0 and 1.
- Compute and Print its mean.

***Question #13 (6 pts)***
- Create a numpy array x
- Compute and print x*np.log(x)

### Part D: Comprehension (10 points)

***Question #14 (4 pts)***
- Create a list containing the squares of only the even numbers of list = [1, 2, 3, 4, 5, 6, 7, 8].

***Question #15 (6 pts)***
- create a dictionary for the prices of banana, apple and organge (assign prices)
- create a new dictionary using comprehension with prices increased by 10%.